/* Content.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh; 
    display: flex;
    align-items: center;  
    padding-left: 1rem;  
    /* background-color: #0b192f; */
}
.container-fluid .container-1 p{
    font-size: 18px;
}

