  .header {
    /* border-bottom: 1px solid #eee; */
    height: 4rem;
    /* background-color: #0f213e; */
    background-color: #0B192FB3;
    font-family: var(--loto);
  }
  .header .logo{
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3;
  }
  .header .logo .App-logo{
    height: 10vmin;
  }
  .header ul{
    align-items: center;
    height: 100%;
  }
  .header ul li{
    list-style: none;
    height: 100%;
    color: var(--light-blue-color);
    font-family: "Fira Mono", monospace;
    font-size: .75rem;
  }
  .header ul li a{
    text-decoration: none;
    color: var(--white-color);
  }
  .header ul li:hover a{
    color: var(--light-blue-color);
  }
  #meny {
    background: #333;
    width: 50rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
  }
  .burger-checkbox {
    display: none;
  }
  .burger-checkbox:checked ~ #meny {
    transform: translateX(0rem);
  }
  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
  }
  .burger-checkbox:checked ~ #burger > div {
    background-color: #000 !important;
  }
  .burger-checkbox:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  .burger-checkbox:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
  }
  .burger-checkbox:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
  